@use "variables";

.users {
  color: variables.$color-secondary;

  &__list {
    display: flex;
    flex-direction: column;
    gap: variables.$main-spacing*0.5;
    margin-top: variables.$main-spacing;
    color: variables.$color-secondary;

    &-buttons {
      display: flex;
      gap: variables.$main-spacing;
      justify-content: flex-end;
    }
  }
}